<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>countryName</param-name>
        <param-value>Viet Nam</param-value>
    </context-param>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>sample.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sample.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>sample.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccounServlet</servlet-name>
        <servlet-class>sample.servlet.ManagerAccounServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>sample.servlet.SearchServlet</servlet-class>
        <init-param>
            <param-name>language</param-name>
            <param-value>Vietnamese</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>sendOTP</servlet-name>
        <servlet-class>sample.servlet.sendOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactServlet</servlet-name>
        <servlet-class>sample.servlet.contactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainControlers</servlet-name>
        <servlet-class>sample.servlet.MainControlers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>sample.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>sample.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>sample.servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>sample.servlet.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartServlet</servlet-name>
        <servlet-class>sample.servlet.DeleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveShoppingCartServlet</servlet-name>
        <servlet-class>sample.servlet.SaveShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPlantServlet</servlet-name>
        <servlet-class>sample.servlet.GetPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusAccountServlet</servlet-name>
        <servlet-class>sample.servlet.UpdateStatusAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPlantServlet</servlet-name>
        <servlet-class>sample.servlet.NewPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountServlet</servlet-name>
        <servlet-class>sample.servlet.SearchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPlantsServlet</servlet-name>
        <servlet-class>sample.servlet.SearchPlantsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <servlet-class>sample.servlet.UpdateOrderStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfileServlet</servlet-name>
        <servlet-class>sample.servlet.ChangeProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveChangeProfileServlet</servlet-name>
        <servlet-class>sample.servlet.SaveChangeProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePlantsStatusServlet</servlet-name>
        <servlet-class>sample.servlet.UpdatePlantsStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlantServlet</servlet-name>
        <servlet-class>sample.servlet.AddPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInformationPlantsServlet</servlet-name>
        <servlet-class>sample.servlet.ChangeInformationPlantsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveChangePlantsServlet</servlet-name>
        <servlet-class>sample.servlet.SaveChangePlantsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCatesServlet</servlet-name>
        <servlet-class>sample.servlet.SearchCatesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveChangeCatesServlet</servlet-name>
        <servlet-class>sample.servlet.SaveChangeCatesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInformationCatesServlet</servlet-name>
        <servlet-class>sample.servlet.ChangeInformationCatesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCateServlet</servlet-name>
        <servlet-class>sample.servlet.AddCateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDateServlet</servlet-name>
        <servlet-class>sample.servlet.SearchDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderDate</servlet-name>
        <servlet-class>sample.servlet.SearchOrderDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrdersServlet</servlet-name>
        <servlet-class>sample.servlet.SearchOrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccounServlet</servlet-name>
        <url-pattern>/ManagerAccounServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendOTP</servlet-name>
        <url-pattern>/sendOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactServlet</servlet-name>
        <url-pattern>/contactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainControlers</servlet-name>
        <url-pattern>/MainControlers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartServlet</servlet-name>
        <url-pattern>/DeleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveShoppingCartServlet</servlet-name>
        <url-pattern>/SaveShoppingCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPlantServlet</servlet-name>
        <url-pattern>/GetPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusAccountServlet</servlet-name>
        <url-pattern>/UpdateStatusAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPlantServlet</servlet-name>
        <url-pattern>/NewPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountServlet</servlet-name>
        <url-pattern>/SearchAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPlantsServlet</servlet-name>
        <url-pattern>/SearchPlantsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <url-pattern>/UpdateOrderStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfileServlet</servlet-name>
        <url-pattern>/ChangeProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveChangeProfileServlet</servlet-name>
        <url-pattern>/SaveChangeProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePlantsStatusServlet</servlet-name>
        <url-pattern>/UpdatePlantsStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlantServlet</servlet-name>
        <url-pattern>/AddPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInformationPlantsServlet</servlet-name>
        <url-pattern>/ChangeInformationPlantsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveChangePlantsServlet</servlet-name>
        <url-pattern>/SaveChangePlantsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCatesServlet</servlet-name>
        <url-pattern>/SearchCatesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveChangeCatesServlet</servlet-name>
        <url-pattern>/SaveChangeCatesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInformationCatesServlet</servlet-name>
        <url-pattern>/ChangeInformationCatesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCateServlet</servlet-name>
        <url-pattern>/AddCateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDateServlet</servlet-name>
        <url-pattern>/SearchDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderDate</servlet-name>
        <url-pattern>/SearchOrderDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrdersServlet</servlet-name>
        <url-pattern>/SearchOrdersServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
